# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out

# Sistema
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore

# Archivos de desarrollo
*.bat
*.bash
*.txt
*.jar 